.main {
	min-height: 1500px;

	#header {
		min-height: 190px;

		nav {
			border: 0;
		}
	}

	.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	.fixed-right {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1000;
	}

	.head-fill {
		min-height: 70px;
	}
}
