{{ attach_library('dougyau.xyz/global-js') }}
<html>
<head>
	<head-placeholder token="{{ placeholder_token | raw }}">
	<css-placeholder token="{{ placeholder_token | raw }}">
	<js-placeholder token="{{ placeholder_token | raw }}">
</head>
<body>
	{{ page_top }}
	{{ page }}
	{{ page_bottom }}
	<js-bottom-placeholder token="{{ placeholder_token | raw }}">
</body>
</html>